trigger:
  - main

pool:
  vmImage: "ubuntu-latest"

variables:
  npm_config_cache: $(Pipeline.Workspace)/.npm

steps:
  - task: NodeTool@0
    inputs:
      versionSpec: "18.x"
    displayName: "Install Node.js"

  - task: Npm@1
    inputs:
      command: "custom"
      customCommand: "ci"
    displayName: "Install dependencies"

  - script: |
      npm run build
    displayName: "Build project"

  - task: npmAuthenticate@0
    inputs:
      workingFile: ".npmrc"
    displayName: "Authenticate with Azure Artifacts"

  - script: |
      npm publish
    displayName: "Publish to Azure Artifacts"
